@page "/ganttGeneratorFromPaste"
@inject MediatR.IMediator Mediator
@inject SpreadsheetUtility.Infrastructure.Services.SessionService SessionService
@inject IPasteParserService PasteParser
@inject GanttGeneratorViewModel ViewModel
@using Newtonsoft.Json
@using SpreadsheetUtility.Application.DTOs
@using SpreadsheetUtility.Application.UseCases.CalculateGanttChartAllocation
@using SpreadsheetUtility.Domain.Models
@using SpreadsheetUtility.UI.Web.Helpers
@inject IJSRuntime JS
@rendermode InteractiveServer

<h3>Gantt Generator Paste</h3>

<SessionComponent OnSessionInitialized="HandleSessionInitialized" />

<p></p>

@if (ViewModel.IsSessionInitialized)
{
    <DataPasteGridComponent />
    
    <p></p>
    
    <GanttConfigComponent OnGenerate="LoadGanttChartTasks" />
    
    <p></p>
    
    <GanttResultsComponent />
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task HandleSessionInitialized()
    {
        await JS.InvokeVoidAsync("console.log", "Session initialized, re-rendering parent");
        StateHasChanged();
    }

    private async Task UpdateSession()
    {        
        if (ViewModel.SessionIdentifierGuid is null)
        {
            await JS.InvokeVoidAsync("console.error", "SessionIdentifier is mandatory");
            return;
        }

        await JS.InvokeVoidAsync("console.log", $"Email: {ViewModel.Email} | Guid:{ViewModel.SessionIdentifierGuid.ToString()} | UpdateSession");

        var sessionIdentifier = (System.Guid)ViewModel.SessionIdentifierGuid;
        var result = SessionService.UpdateSession(ViewModel.Email, sessionIdentifier, ViewModel.SessionContent);
        SessionService.StoreSessionContentInCookie(ViewModel.SessionContent);

        await JS.InvokeVoidAsync("console.log", $"Session Updated initiated with email: {ViewModel.Email} | guid: {ViewModel.SessionIdentifierGuid} | sessionContent: {result}");
    }

    private async Task LoadGanttChartTasks()
    {
        try
        {
            ViewModel.ProjectDtoList = PasteParser.ParseProjects(ViewModel.ExcelProjectData);
            ViewModel.TaskDtoList = PasteParser.ParseTasks(ViewModel.ExcelTaskData);
            ViewModel.DeveloperDtoList = PasteParser.ParseTeam(ViewModel.ExcelTeamData);

            ViewModel.ProjectDtoListOutput = ViewModel.ProjectDtoList.AsQueryable();

            var input = new CalculateGanttChartAllocationInput
            {
                DeveloperDtos = ViewModel.DeveloperDtoList,
                ProjectDtos = ViewModel.ProjectDtoList,
                TaskDtos = ViewModel.TaskDtoList,
                PreSortTasks = ViewModel.PreSortTasks,
                ProjectStartDate = ViewModel.ProjectStartDate,
                SetTeamsToProjectGroups = ViewModel.SetTeamsToProjectGroups,
            };

            ViewModel.SessionContent = JsonConvert.SerializeObject(input, Formatting.Indented);
            await UpdateSession();

            var ganttChartAllocation = await Mediator.Send(new CalculateGanttChartAllocationQuery(input));

            ViewModel.GanttTaskListOutput = ganttChartAllocation.GanttTasks.AsQueryable();
            ViewModel.DeveloperListOutput = ganttChartAllocation.DeveloperAvailability.AsQueryable();
            ViewModel.ProjectListOutput = ganttChartAllocation.ProjectList.AsQueryable();
            ViewModel.ProjectHolidayList = ganttChartAllocation.HolidayList.AsQueryable();
            ViewModel.GanttProjectListOutput = ganttChartAllocation.GanttProjects.AsQueryable();
            ViewModel.DeveloperGanttTaskListOutput = ganttChartAllocation.DeveloperGanttTaskList.AsQueryable();

            GanttColorHelper.SetupProjectColor(ViewModel.GanttProjectListOutput, ViewModel.GanttTaskListOutput);
            GanttColorHelper.SetupDeveloperColor(ViewModel.DeveloperListOutput, ViewModel.DeveloperGanttTaskListOutput);

            StateHasChanged();
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("console.error", $"Error loading Gantt chart tasks: {ex.Message}");
        }
    }
}
