@page "/ganttGeneratorFromPaste"
@inject IGanttChartService GanttChartService
@inject IJSRuntime JS
@rendermode InteractiveServer
@using Newtonsoft.Json
@using SpreadsheetUtility.Library

<PageTitle>Gantt Generator Paste</PageTitle>

<h3>Gantt Generator Paste</h3>

<div>
    <textarea @bind="excelData" placeholder="Paste your Excel data here" rows="10" cols="100"></textarea>
</div>
<div>
    <button @onclick="ConvertToGanttTasks">Convert to Gantt Tasks</button>
</div>
<p></p>
<div>
    <textarea @bind="excelTeamData" placeholder="Paste your team Excel data here" rows="10" cols="100"></textarea>
</div>
<p></p>
<div>
    <button @onclick="ConvertToTeamData">Convert to Team Data</button>
</div>
<p></p>
<div>
    <button @onclick="LoadGanttChartTasks">Load Tasks Gantt Chart</button>
</div>
<div>
    <button @onclick="LoadGanttChartProjects">Load Projects Gantt Chart</button>
</div>
<p></p>
<p></p>
<p>Tasks Gantt Chart:</p>
<div id="gantt-chart-tasks"></div>
<p></p>
<p></p>
<p>Projects Gantt Chart:</p>
<div id="gantt-chart-projects"></div>
<p></p>
<p></p>
<p>Logging:</p>
<p></p>
<p></p>
@if (ganttTasks != null)
{
    <h4>Gantt Tasks</h4>
    <pre>@ganttTasksJson</pre>
}

@if (excelTeamData != null)
{
    <h4>Team Data</h4>
    <pre>@teamDataJson</pre>
}

@code {
    private string excelData;
    private List<TaskDto> taskDtos;
    private List<GanttTask> ganttTasks;
    private string ganttTasksJson;

    private string excelTeamData;
    private List<DeveloperDto> developerDtos;
    private List<DeveloperAvailability> teamData;
    private string teamDataJson;

    private string TaskDataJson;
    private string ProjectDataJson;

    private void ConvertToGanttTasks()
    {
        var lines = excelData.Split('\n', StringSplitOptions.RemoveEmptyEntries);
        taskDtos = new List<TaskDto>();

        foreach (var line in lines.Skip(1)) // Skip header
        {
            var columns = line.Split('\t');
            if (columns.Length == 8)
            {
                taskDtos.Add(new TaskDto()
                    {
                        Id = columns[0].Trim(),
                        ProjectID = columns[1].Trim(),
                        ProjectName = columns[2].Trim(),
                        TaskName = columns[3].Trim(),
                        EstimatedEffortHours = double.TryParse(columns[4].Trim(), out var effort) ? effort : 0,
                        Dependencies = columns[5].Trim(),
                        ProjectDependency = columns[6].Trim(),
                        Progress = columns[7].Trim()

                    });
            }
        }
        ganttTasks = GanttChartService.LoadTasksFromDtos(taskDtos);
        ganttTasksJson = JsonConvert.SerializeObject(ganttTasks, Formatting.Indented);
        //LoadGanttChartTasks(tasks);
    }

    private void ConvertToTeamData()
    {
        var lines = excelTeamData.Split('\n', StringSplitOptions.RemoveEmptyEntries);
        developerDtos = new List<DeveloperDto>();

        foreach (var line in lines.Skip(1)) // Skip header
        {
            var columns = line.Split('\t');
            if (columns.Length == 4)
            {
                developerDtos.Add(new DeveloperDto()
                    {
                        Team = columns[0].Trim(),
                        Name = columns[1].Trim(),
                        VacationPeriods = columns[2].Trim(),                        
                        DailyWorkHours = int.TryParse(columns[3].Trim(), out var hours) ? hours : 0,

                    });
            }
        }
        teamData = GanttChartService.LoadTeamDataFromDtos(developerDtos);
        teamDataJson = JsonConvert.SerializeObject(teamData, Formatting.Indented);
        //LoadGanttChartTasks(developerData);
    }   

    private void LoadGanttChartTasks()
    {
        TaskDataJson = GanttChartService.ProcessDataTasksFromDtos(taskDtos, developerDtos);
        //await InvokeAsync(StateHasChanged);
        JS.InvokeVoidAsync("renderGanttTasks", TaskDataJson);
    }

    private void LoadGanttChartProjects()
    {
        ProjectDataJson = GanttChartService.AssignProjects(ganttTasks, teamData);
        //await InvokeAsync(StateHasChanged);
        JS.InvokeVoidAsync("renderGanttProjects", ProjectDataJson);
    }
}
