@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        @Body
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-warning m-5" role="alert">
            <h4 class="alert-heading">Access Denied</h4>
            <p>You must be logged in to access this page.</p>
            <hr>
            <p class="mb-0"><a href="/login" class="alert-link">Click here to login</a></p>
        </div>
    </NotAuthorized>
    <Authorizing>
        <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </Authorizing>
</AuthorizeView>
